.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
}

.panel{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: .2rem !important;
  margin: .4rem !important;
  padding: .2rem;
  background-color: rgb(81, 57, 82);
  border-radius: 1rem;
  border: solid 1px rgb(54, 30, 54);
  box-shadow: 0rem 0rem 10rem .5rem rgb(39, 22, 43);
}
.panel > .button {
  flex-grow: 0;
  background-color: rgb(173, 96, 192);
}
.panel > *:last-child {
  margin-top: auto;
  background-color: rgb(223, 156, 209);
  border: 1px solid rgb(109, 41, 105);
  color: rgb(93, 54, 86);
}

.ghost {
  display: flex;
  flex-grow: 1;
  /* gap: 1rem; */
}
@media screen and (max-width:923px){
  .main {
    flex-direction: column !important;
  }
  .panel {
    flex-direction: row !important;
    gap: .2rem !important;
  }
  .panel > *:last-child {
    margin-top: 0 !important;
    margin-left: auto !important;
  }
  .ghost {
    flex-direction: column !important;
  }
  .home > * {
    height: auto;
  }
  .card {
    margin: 0;
    /* width: 1vh; */
  }
  /* .main {
    width: fit-content;
  } */
}

.home {
  display: flex;
  margin: .4rem !important;
  /* margin-left: 0;
  margin-right: 0; */
  padding: 1rem;
  background-color: rgb(236, 170, 238);
  flex-grow: 1;
  /* width: 10px; */
  border-radius: 1rem;
  border: solid 1px rgb(150, 108, 151);
  box-shadow: 0rem 0rem .1rem 0rem rgb(21, 6, 24);
}
.home > * {height: min-content;}

.button {
  padding: .1rem;
  background-color: rgb(109, 41, 105);
  color: aliceblue;
  border-radius: .8rem;
  font-weight: bold;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  transform: scale(1.01);
  filter: brightness(90%);
}
.button:active {
  transform: scale(1);
  filter: brightness(100%);
}

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: antiquewhite;
}
.card > form {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  font-size: large;
}
.card > form > input {
  border: none;
  border-radius: 1rem;
  font-size: 24px;
  height: auto;
}
.card > form > input[type="submit"] {
  background-color: rgb(141, 250, 141);
  margin-top: 1rem;
  height: auto;
}
.card > h1 {
  flex-grow: 1;
  margin-bottom: 1rem;
}
.card > .content {
  background-color: rgb(83, 137, 185) !important;
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-grow: 1;
}


.flexRow {flex-direction: row;}
.flexColumn {flex-direction: column;}
.flexGrow0 {flex-grow: 0;}
.flexGrow1 {flex-grow: 1;}
.gap0 {gap: 0;}
.gap1 {gap: 1rem;}